@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;
  color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset */
* {margin: 0; padding: 0}
*, *::before, *::after {box-sizing: border-box}
body { min-height: 100dvh;}
input, button, textarea, select {font: inherit;}
button {cursor: pointer;}
p {text-wrap: pretty}
h1, h2, h3, h4, h5, h6 { text-wrap: balance}
img, video, svg { height:auto; max-width: 100%;}
a {text-decoration: none; color: inherit;}
ul {list-style: none;}

@media(prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  p { color: #222 }
}
